@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    /* Width of the scrollbar */
};

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #F0B65A;
    /* Thumb color */
    border-radius: 4px;
    /* Rounded corners */
};

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #2C2C33;
    /* Track color */
};